#mainTextField {
	-fx-display-caret: false;
}

.FileLabel:hover { 
    -fx-fill: blue;   
}

.Label:hover { 
    -fx-fill: blue;   
}

#FileLabel:hover { 
    -fx-fill: blue;   
}

#Label:hover { 
    -fx-fill: blue;   
}